h1{
    font-family: 'Dancing Script', cursive;
}

.carousel-item img{
    width: 100%;
    height:92.3vh;
    object-fit: cover;
}

.navbar{
    font-family: 'Dancing Script', cursive;
}


.bg-custom{
    background: rgb(194, 211, 231);
}

.navbar-toggler i{
    color:white;
}


.card i{
    width: 70px;
}

.form-floating{
    position: relative;
}

.icon{
    position: absolute;
    top: calc(50%);
    left: 1.25rem;
}

.form-floating label,
 .form-floating .form-control{
    left: .5rem;
    padding-left: 3.5rem;
}

.icon-textarea{
    position: absolute;
    top: 1.8rem;
    left: 1.25rem;
}

